#artist_left
  #slider
    = image_tag validate_img_url(artist.image, "artist", :mega)
  .tabs_js.information
    %h1 
      = artist.name
      = link_to "", "#", :class=>"heart"
    %ul.nav
      %li= image_tag "icons/artist-info.png"
      %li= image_tag "icons/artist-links.png"
      %li= image_tag "icons/artist-tags.png"
    .content
      #artist_info
        %h2 About
        =raw artist.bio.summary.empty? ? "No information available!" : artist.bio.summary
      #artist_links
        %ul
        = image_tag "bing.png", :class=>"bing"
      #artist_tags
        %h2 Tags
        %ul
        - artist.tags.tag.each do |tag|
          %li #{camelCaseString tag.name}
.tabs.tabs_js.w01
  %ul.nav
    %li songs
    %li albums
    %li related
  .content{:q=>"#{CGI.escape(artist.name)}"}
    %div
      %ul.list.songs.andmore{:tile=>"more_tracks"}
        = render :partial=>"more_tracks", :locals=>{:tracks=>@tracks}
    %div
      %ul.list.albums.andmore{:tile=>"more_albums"}
        = render :partial=>"more_albums", :locals=>{:albums=>@albums}
    %div
      %ul.list.related
        - related.artist.each do |artist|
          %li<
            = link_to "#!/artists/#{CGI.escape(artist.name)}" do
              %h5
                = trimString(artist.name, 14)
                %span= "#{(artist.match.to_f*100).to_i}"
              .img
                = image_tag validate_img_url(artist.image, "artist", :extralarge), :alt=>artist.name, :title=>artist.name
      %div.clean

:javascript
  $(document).ready(function(){
    bing_search("#{CGI.escape(artist.name)}");
  });