.tabs.tabs_js.w03
  %ul.nav
    %li artists
    %li songs
    %li albums
    %li youtube
  .content{:q=>"#{@q}"}
    %div
      = render :partial=>"sidebar/index"
      = render :partial=>"search_form"
      %ul.list.artists.andmore{:tile=>"more_artists"}
        = render :partial=>"more_artists"
    %div
      = render :partial=>"sidebar/index"
      = render :partial=>"search_form"
      %ul.list.songs.andmore{:tile=>"more_tracks"}
        = render :partial=>"artists/more_tracks"
    %div
      = render :partial=>"sidebar/index"
      = render :partial=>"search_form"
      %ul.list.albums.andmore{:tile=>"more_albums"}
        = render :partial=>"artists/more_albums"
    %div
      = render :partial=>"sidebar/index"
      = render :partial=>"search_form"