#predefinedTab= params[:tab]
%h2.headline
  =raw "Search for <span class='blue'>#{params[:q]}</span>"
%ul.navigation.hash.main{:steering => "search"}
  %li.active ALL
  %li ARTISTS
  %li ALBUMS
  %li SONGS
%br.clean
%div{:wheel => "search"}
  .active#search_all
    #search_all_artists
      -#%h2.headline.small Artists
      %ul.artists.big
        - @artists.artist.each_with_index do |artist, i|
          - break if i == 2
          %li
            = link_to :controller=>:artists,:action=>:show,:id=>CGI.escape(artist.name) do
              = image_tag validate_img_url(artist.image, "artist", :extralarge)
              %p
                = trimString(artist.name, 30)
                %br><
                =raw "<span>#{artist.listeners} Listeners</span>"
      %br.clean
      %br
    #search_all_songs
      -#%h2.headline.small Songs
      %ul.songs.short
        - @tracks.track.each_with_index do |track, i|
          - break if i == 13
          %li
            = image_tag "ico/play.png", :class=>"play"
            = image_tag "ico/add.png", :class=>"add"
            %span= track.name
            =raw "&nbsp;by "
            = link_to trimString(track.artist, 50), :controller=>"artists",:action=>"show",:id=>CGI.escape(track.artist)
    #search_all_albums
      -#%h2.headline.small Albums
      %ul.albums.wide
        - @albums.album.each_with_index do |album, i|
          - break if i == 6
          %li
            .img= image_tag validate_img_url(album.image, "album", :medium)
            %p<
              %span= trimString(album.name, 38)
              %br>
              = link_to trimString(album.artist, 22), :controller=>"artists",:action=>"show",:id=>CGI.escape(album.artist)
  #search_artists
    %ul.artists.small
      - @artists.artist.each_with_index do |artist, i|
        - break if i >= 8
        %li
          = link_to :controller=>:artists,:action=>:show,:id=>CGI.escape(artist.name) do
            = image_tag validate_img_url(artist.image, "artist", :extralarge)
            %p
              = trimString(artist.name, 26)
              %br><
              =raw "<span>#{artist.listeners} Listeners</span>"
    %br.clean
    = link_to "NACHLADEN", :class => "more" do
      = image_tag "ico/more.png"
  #search_albums
    %ul.albums
      - @albums.album.each_with_index do |album, i|
        - break if i == 16
        %li
          .img
            = image_tag validate_img_url(album.image, "album", :medium)
          %p
            %span
              = trimString(album.name, 38)
            %br
              = trimString(album.artist, 22)
          %sub
    %br.clean
    = link_to "NACHLADEN", :class => "more" do
      = image_tag "ico/more.png"
  #search_songs
    %ul.songs.tab
      - @tracks.track.each_with_index do |track, i|
        - break if i == 18
        %li
          = image_tag "ico/play.png", :class=>"play"
          = image_tag "ico/add.png", :class=>"add"
          %span
            = track.name
          =raw "&nbsp;"
          = "by #{trimString(track.artist, 50)}"
    %br.clean
    %br
    = link_to "NACHLADEN", :class => "more" do
      = image_tag "ico/more.png"
    