%h2.headline
  =raw "Search for &#132;#{params[:q]}&#147;"
%ul.navigation{:steering => "search"}
  %li.active ALL
  %li ARTISTS
  %li ALBUMS
  %li SONGS
%br.clean
%div{:wheel => "search"}
  .active#search_all
    #search_all_artists
      %ul.artists
        - @artists.artist.each_with_index do |artist, i|
          - break if i >= 6
          %li
            = link_to "LINK" do
              = image_tag validate_img_url(artist.image, :large)
              %p
                = trimString(artist.name, 22)
      %br.clean
    #search_all_songs
      %h2.headline.small Songs
      %ul.songs
        - @tracks.track.each_with_index do |track, i|
          - break if i == 8
          %li
            = image_tag "ico/play.png", :class=>"play"
            = image_tag "ico/add.png", :class=>"add"
            %span
              = track.name
            =raw "&nbsp;"
            = "by #{trimString(track.artist, 50)}"
    #search_all_albums
      %h2.headline.small Albums
      %ul.albums
        - @albums.album.each_with_index do |album, i|
          - break if i == 6
          %li
            .img
              = image_tag validate_img_url(album.image, :medium)
            %p
              %span
                = trimString(album.name, 38)
              %br
                = trimString(album.artist, 22)
            %sub
  #search_artists
    %ul.artists
      - @artists.artist.each_with_index do |artist, i|
        - break if i >= 12
        %li
          = link_to "LINK" do
            = image_tag validate_img_url(artist.image, :large)
            %p
              = trimString(artist.name, 22)
    %br.clean
    = link_to "NACHLADEN", :class => "more" do
      = image_tag "ico/more.png"
  #search_albums
    %ul.albums
      - @albums.album.each_with_index do |album, i|
        - break if i == 16
        %li
          .img
            = image_tag validate_img_url(album.image, :medium)
          %p
            %span
              = trimString(album.name, 38)
            %br
              = trimString(album.artist, 22)
          %sub
    %br.clean
    = link_to "NACHLADEN", :class => "more" do
      = image_tag "ico/more.png"
  #search_songs
    %ul.songs.tab
      - @tracks.track.each_with_index do |track, i|
        - break if i == 18
        %li
          = image_tag "ico/play.png", :class=>"play"
          = image_tag "ico/add.png", :class=>"add"
          %span
            = track.name
          =raw "&nbsp;"
          = "by #{trimString(track.artist, 50)}"
    %br.clean
    %br
    = link_to "NACHLADEN", :class => "more" do
      = image_tag "ico/more.png"
    