%h2.headline
  =raw "Search for &#132;#{params[:search_term]}&#147;"
%ul.navigation{:steering => "search"}
  %li.active ALL
  %li ARTISTS
  %li ALBUMS
  %li SONGS
%br.clean
%div{:wheel => "search"}
  .active#search_all
    #search_all_artists
      %ul.artists
        - count = 0
        - @resultsArtists.artistmatches.artist.each_with_index do |artist, i|
          - break if (i >= 6 && count >= 6)
          - next unless artist.listeners.to_i > 15
          - count += 1
          %li
            = link_to "LINK" do
              = image_tag validate_img_url(artist.image, :large)
              %p
                = artist.name
      %br.clean
    #search_all_songs
      %h2.headline.small Songs
      %ul.songs
        - @resultsTracks.trackmatches.track.each_with_index do |track, i|
          - break if i == 10
          %li
            = image_tag "ico/play.png", :class=>"play"
            = image_tag "ico/add.png", :class=>"add"
            %span
              = track.name
            =raw "&nbsp;by #{track.artist}"
    #search_all_albums
      %h2.headline.small Albums
      %ul.albums
        - @resultsAlbums.albummatches.album.each_with_index do |album, i|
          - break if i == 8
          %li
            .img
              = image_tag validate_img_url(album.image, :medium)
            %p
              %span
                = album.name
              %br
                = album.artist
            %sub
  #search_artists
    %ul.artists
      - count = 0
      - @resultsArtists.artistmatches.artist.each_with_index do |artist, i|
        - break if (i >= 18 && count >= 18)
        - next unless artist.listeners.to_i > 15
        - count += 1

        %li
          = link_to "LINK" do
            = image_tag validate_img_url(artist.image, :large)
            %p
              = artist.name
    %br.clean
    = link_to "NACHLADEN", :class => "more" do
      = image_tag "ico/more.png"
  #search_albums
    %ul.albums
      - @resultsAlbums.albummatches.album.each_with_index do |album, i|
        - break if i == 16
        %li
          .img
            = image_tag validate_img_url(album.image, :medium)
          %p
            %span
              = album.name
            %br
              = album.artist
          %sub
    %br.clean
    = link_to "NACHLADEN", :class => "more" do
      = image_tag "ico/more.png"
  #search_songs
    %ul.songs.tab
      - @resultsTracks.trackmatches.track.each_with_index do |track, i|
        - break if i == 24
        %li
          = image_tag "ico/play.png", :class=>"play"
          = image_tag "ico/add.png", :class=>"add"
          %span
            = track.name
          =raw "&nbsp;by #{track.artist}"
    %br.clean
    %br
    = link_to "NACHLADEN", :class => "more" do
      = image_tag "ico/more.png"
    