%h2.headline
  =raw "Search for <span class='blue'>#{params[:q]}</span>"
%ul.navigation.hash.main{:steering => "search"}
  %li.active ALL
  %li ARTISTS
  %li ALBUMS
  %li SONGS
%div.clean{:wheel => "search"}
  .active#search_all
    #search_all_artists
      -#%h2.headline.small Artists
      %ul.artists.big
        - @artists.artist.each_with_index do |artist, i|
          - break if i == 2
          %li
            = link_to :controller=>:artists,:action=>:show,:id=>CGI.escape(artist.name) do
              = image_tag validate_img_url(artist.image, "artist", :extralarge)
              %p
                = trimString(artist.name, 30)
                %br><
                =raw "<span>#{artist.listeners} Listeners</span>"
      %br.clean
      %br
    #search_all_tracks
      -#%h2.headline.small Songs
      = render :partial => "tracks/list", :locals => { :tracks => @tracks, :additional_class => "short", :count => 13 }
    #search_all_albums
      -#%h2.headline.small Albums
      %ul.albums.wide
        - @albums.album.each_with_index do |album, i|
          - break if i == 6
          %li
            .img= image_tag validate_img_url(album.image, "album", :medium)
            %p<
              %span= trimString(album.name, 38)
              %br>
              = link_to trimString(album.artist, 22), :controller=>"artists",:action=>"show",:id=>CGI.escape(album.artist)
  #search_artists
    %ul.artists.small
      - @artists.artist.each_with_index do |artist, i|
        - break if i >= 8
        %li
          = link_to artist_path(CGI.escape(artist.name)) do
            = image_tag validate_img_url(artist.image, "artist", :extralarge)
            %p
              = trimString(artist.name, 26)
              %br><
              =raw "<span>#{artist.listeners} Listeners</span>"
    %br.clean
    = link_to "NACHLADEN", :class => "more" do
      = image_tag "ico/more.png"
  #search_albums
    %ul.albums
      - @albums.album.each_with_index do |album, i|
        - break if i == 16
        %li
          .img
            = image_tag validate_img_url(album.image, "album", :medium)
          %p
            %span
              = trimString(album.name, 38)
            %br
              = trimString(album.artist, 22)
          %sub
    %br.clean
    = link_to "NACHLADEN", :class => "more" do
      = image_tag image_path("ico/more.png")
  #search_tracks
    = render :partial => "tracks/list", :locals => { :tracks => @tracks, :additional_class => "tab", :count => 26 }
    %br.clean
    %br
    = link_to "NACHLADEN", :class => "more" do
      = image_tag image_path("ico/more.png")

