#user_left
  =image_tag validate_avatar(user), :class => "picture"
  .information
    %h1= (user.username || current_user.email)
    %ul.nav
      %li=image_tag image_path("icons/artist-info.png")
      %li=image_tag image_path("icons/artist-links.png")
    %ul.con
      %li="#{user.playcount} Plays"
      %li="#{user.playlist.count} Playlists"
.tabs.tabs_js.w02
  %ul.nav
    %li favourite artists
    - if user == current_user
      %li settings
  .content
    %div
      %ul.list.related
        - user.artists.each do |artist|
          %li<
            = link_to "#!/artists/#{CGI.escape(artist.name)}" do
              %h5= trimString(artist.name, 20)
              .img
                = image_tag artist.img_url
      %br.clean
    - if user == current_user
      %div=render :partial => "edit", :locals => { :user => current_user }
