#home
  = image_tag "cnt/9minutes-is-a-mashup-of-lastfm-and-youtube.png", :class=>"left"
  = link_to image_tag("cnt/sign-up.png", :class=>"right"), '#'
  %br.clean
  %br
  %br
  .left
    %h2.headline.small
      %span.left Top Tracks
      .navigate
        %a.left
        %a.right
    %ul.tracks.short{:count=>"5"}
      - @tracks.track.each_with_index do |track, i|
        - id = @youtube_client.videos_by(:query => "#{track.name} #{track.artist.name} official", :page => 1, :per_page => 1, :order_by => "relevance")
        %li
          = image_tag "ico/play.png", :class=>"play", :videoid=>id.videos.first.unique_id
          = image_tag "ico/add.png", :class=>"add"
          %span= track.name
          = link_to trimString(track.artist.name, 50), artist_path(CGI.escape(track.artist.name))
  .right
    %h2.headline.small
      %span.left Top Artists
      .navigate
        %a.left
        %a.right
    %ul.artists.big{:count=>"2"}
      - @artists.artist.each do |artist|
        %li
          = link_to artist_path(CGI.escape(artist.name)) do
            = image_tag validate_img_url(artist.image, "artist", :extralarge)
            %p
              = trimString(artist.name, 30)
              %br><
              %span= "#{artist.listeners} Listeners, #{artist.playcount} Plays"
  %br.clean
  .bottom
    %hr
    %p.left 
      =raw "&copy;2011 by 9minutes"
      = link_to "Home", "#"
      = link_to "Terms of Service", "#"
      = link_to "Contact", "#"
      = link_to "About", "#"
  