.player
  = link_to "", "javascript:void(0);", :class=>"backward"
  = link_to "", "javascript:void(0);", :class=>"play"
  = link_to "", "javascript:void(0);", :class=>"forward"
  = link_to "", "javascript:void(0);", :class=>"volume"
  =# link_to "", "javascript:void(0);", :class=>"repeat"
  = link_to "", "javascript:void(0);", :class=>"full"