.player
  = link_to image_tag("icons/player/backward.png"), "javascript:void(0);", :class=>"backward"
  = link_to image_tag("icons/player/play.png"), "javascript:void(0);", :class=>"play"
  = link_to image_tag("icons/player/forward.png"), "javascript:void(0);", :class=>"forward"
  = link_to image_tag("icons/player/volume.png"), "javascript:void(0);", :class=>"volume"
  = link_to image_tag("icons/player/repeat.png"), "javascript:void(0);", :class=>"repeat"
  = link_to image_tag("icons/player/fullscreen.png"), "javascript:void(0);", :class=>"full"