!!!
%html
  %head
    %title Nineminutes
    = stylesheet_link_tag :all
    = javascript_include_tag :all
    = csrf_meta_tag
  %body
    #site
      #head
        %h1
          = image_tag "9minutes.png"
        = form_tag search_index_path, :method => 'get', :id => "search_form", :class => "right" do
          = text_field_tag 'q', params[:q], :class => "input", :placeholder => "Search for"
      = yield