!!!
%html
  %head
    %title Nineminutes
    = favicon_link_tag 'favicon.ico'
    = favicon_link_tag 'favicon.png', :rel=>'icon'
    = stylesheet_link_tag :all
    = javascript_include_tag "http://www.google.com/jsapi"
    = javascript_include_tag :defaults
    
    = csrf_meta_tag
  %body
    #playlist-container
      %ul#playlist
    #site
      #head
        %h1
          = link_to image_tag("9minutes.png"), "/"
        = form_tag '/search', :method => 'get', :id => "search_form", :class => "right" do
          .wrap
            = text_field_tag 'q', params[:q], :class => "input", :placeholder => "Search for"
            -# TODO: image_submit_tag
            .selection{:dropping=>"true"}
              %span.selected ALL
              .box
                %span.arr
                %ul
                  %li All
                  %li Artists
                  %li Albums
                  %li Songs
            = submit_tag '', :class=>"submit", :name => nil
        #predefinedTab
      = yield
    #player
      #videoDiv Loading
      %p#song
        = "Hometown Glory"
        %br
        %b=raw "<span>Artist: </span>Adele"
      #controls
        = link_to "", "javascript:void(0);", :onclick=>"", :class=>"backward"
        = link_to "", "javascript:void(0);", :class=>"play"
        = link_to "", "javascript:void(0);", :onclick=>"", :class=>"forward"
      #scrubbar
        =raw '<input type="range" id="progress" name="range1" min="0" max="100" step="1" value="0" />'
        %span.time
          %span#currentTime.now 0:00
          = "/"
          %span#duration.max 3:00
      #volume
        =raw '<input type="range" class="vol" id="progress" name="range2" min="0" max="100" step="1" value="50" />'
      #icons
        = link_to image_tag("ico/player-volume.png"), "javascript:void(0);", :class=>"volume"
        = link_to image_tag("ico/player-repeat.png"), "javascript:void(0);", :class=>"repeat"
        = link_to image_tag("ico/player-playlist.png"), "javascript:void(0);", :class=>"playlist"

      