!!!
%html
  %head
    %title 9minutes
    = include_stylesheets :common, :media=>'all'
    = javascript_include_tag "http://www.google.com/jsapi"
    = include_javascripts :jquery, :helper, :plugins, :common
    :javascript
      google.load("swfobject", "2.1");
      google.setOnLoadCallback(_run);
    = favicon_link_tag
    = favicon_link_tag "9minutes-logo.png", :rel=>"icon", :type=>"image/png"
    = csrf_meta_tag
  %body
    #loading= image_tag "icons/loading_dark.gif", :class=>"loadingimg"
    #error Error
    #block
    #bg_stripe
    #site
      #uuser{:style=>"display:block; color:#ddd;"}
      #head
        %h1= link_to image_tag("nine-minutes.png"), "/#!/home"
        = render :partial=>"layouts/player"
      #navigation
        %li.active= link_to "home", "/#!/home"
        %li= link_to "charts", "/#!/charts"
        - if signed_in?
          %li= async_link_to "profile", user_path(current_user)
        - else
          %li= async_link_to "register", new_user_registration_path
        %li.search
          = form_tag '/search', :method => 'get', :id => "search_form", :remote=>true do
            = text_field_tag 'q', params[:q], :class => "text", :placeholder => "Search here ..."
            = link_to image_tag("icons/search-navi.png", :class=>"button"), "/#!/search"
        - if user_signed_in?
          %li.login= async_link_to image_tag("icons/logout.png"), destroy_user_session_path
        - else
          %li.login= async_link_to image_tag("icons/login.png"), new_user_session_path
      %br.clean
      #content
        = yield
      %br.clean
      #foot
        - date = DateTime.now
        %h6 Copyright &copy; #{date.year} by nineminutes
        %ul
          %li= link_to "About", "#"
          %li= link_to "Legal", "#"
          %li= link_to "Faq", "#"
    #fullscreen_wrap
    #fullscreen_close
    #fullscreen
      #headline
        %h2 Avril Lavigne
        %h1 Alice (In Wonderland)
      #video= image_tag "examples/video-big.jpg"
      .sidebar
        .top
          = render :partial=>"layouts/player"
        %input#scrubbar{:type => "range", :name => "range1", :min => "0", :max => "100", :step => "1", :value => "0"}
        %ul#playlist
