!!!
%html
  %head
    %title Nineminutes
    = stylesheet_link_tag "9minutes"
    = javascript_include_tag "http://www.google.com/jsapi"
    = javascript_include_tag :defaults
    
    = csrf_meta_tag
  %body
    %pre{:id=>"cnt",:style=>"color:white;position:fixed;top:0;left:0;z-index:1000"} 0
    #loading Loading
    #bg_stripe
    #site
      - if user_signed_in?
        %span.bold= "YEAH! ICH BIN DRIN!"
      - else
        =link_to "Sign In", new_user_session_path
        =link_to "Sign Up", new_user_registration_path
      =link_to "Sign Out", destroy_user_session_path
      #head
        %h1= link_to image_tag("nine-minutes.png"), "/"
      #navigation
        %li.active= link_to "home", "#"
        %li= link_to "charts", "#"
        %li= link_to "about", "#"
        %li= link_to "register", "#"
        %li.search
          = form_tag '/search', :method => 'get', :id => "search_form" do
            = text_field_tag 'q', params[:q], :class => "text", :placeholder => "Search here ..."
            = link_to image_tag("icons/search-navi.png", :class=>"button"), "javascript:void(0);", :onclick=>"submit_redirect(this);"
            = submit_tag '', :class=>"submit", :name => nil
      %br.clean
      #content
        = yield
      %br.clean
      #foot
        - date = DateTime.now
        %h6 Copyright &copy; #{date.year} by nineminutes
        %ul
          %li= link_to "About", "#"
          %li= link_to "Legal", "#"
          %li= link_to "Faq", "#"
