!!!
%html
  %head
    %title Nineminutes
    = stylesheet_link_tag "9minutes"
    = javascript_include_tag "http://www.google.com/jsapi"
    = javascript_include_tag :defaults
    
    = csrf_meta_tag
  %body
    #loading Loading
    #error Error
    #block
    #bg_stripe
    #site
      #uuser{:style=>"display:none;"}
        - if user_signed_in?
          %span.bold= "YEAH! ICH BIN DRIN!"
        - else
          =link_to "Sign In", new_user_session_path
          =link_to "Sign Up", new_user_registration_path
        =link_to "Sign Out", destroy_user_session_path
      #head
        %h1= link_to image_tag("nine-minutes.png"), "/#!/home"
        = render :partial=>"layouts/player"
      #navigation
        %li.active= link_to "home", "/#!/home"
        %li= link_to "charts", "/#!/charts"
        %li= link_to "about", "#"
        %li= link_to "register", "/#!/register"
        %li.search
          = form_tag '/search', :method => 'get', :id => "search_form", :remote=>true do
            = text_field_tag 'q', params[:q], :class => "text", :placeholder => "Search here ..."
            = link_to image_tag("icons/search-navi.png", :class=>"button"), "/#!/search"
      %br.clean
      #content
      %br.clean
      #foot
        - date = DateTime.now
        %h6 Copyright &copy; #{date.year} by nineminutes
        %ul
          %li= link_to "About", "#"
          %li= link_to "Legal", "#"
          %li= link_to "Faq", "#"
    #fullscreen_wrap
    #fullscreen
      %h2 Avril Lavigne
      %h1 Alice (In Wonderland)
      #video Loading
      .sidebar
        .top
          = render :partial=>"layouts/player"
        %ul.play_list
          %li
            %h3
              %div= "Firework"
              %span= "Katie Perry"
          %li
            %h3
              %div= "Firework"
              %span= "Katie Perry"
          %li
            %h3
              %div= "Firework"
              %span= "Katie Perry"
          %li
            %h3
              %div= "Firework"
              %span= "Katie Perry"
          %li
            %h3
              %div= "Firework"
              %span= "Katie Perry"
          %li
            %h3
              %div= "Firework"
              %span= "Katie Perry"
